{% extends 'base.html' %}
{% block content %}

<style>
    a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    outline: none;
   }
   a:hover {
    text-decoration: none;
   }

    .themes{
    width:100%;
    border: 1px solid #FFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    }


    body{
    --mdc-theme-primary: #F25CA2;
    --mdc-theme-secondary: #0433BF;
    --mdc-theme-background: #021859;
    --mdc-theme-error: #b00020;
    }

    .category {
    width: 100%;
    min-height: 60px;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 20pt;
    text-align: center;
    margin: 10px 0;
}
.left{
  grid-area: left;
}
.right{
  grid-area: right;
}


.bottom{
margin:10px auto 0;
  grid-area: bottom;
}
.grid {
  display: grid;
  grid-template: "left right" auto
                 "left right" auto;
 grid-gap: 10px;
}

.card{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
}

.card-body{
  border: none;
}
.card-header{
  border: none;
}


    a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    outline: none;
   }
   a:hover {
    text-decoration: none;
   }

     .link {
    }

    .card a {
     display: block;
     height: 100%;
     color: black;
    }

</style>


<a href="{% url 'cr_task' %}"><button class="mdc-button mdc-button--raised" style="font-size:15pt; height: 40px; width:30%; margin:0 auto 10px 35%; margin-up:10%"><span class="mdc-button__ripple"></span>Создать задание</button></a>
<br>
{% if is_tenant %}
<a href="{% url 'tenant_main'%}"><button class="mdc-button" style="width: 100%;"><span class="mdc-button__ripple"></span>Вернуться на главную</button></a>
{% elif is_manager %}
<a href="{% url 'manager_main'%}"><button class="mdc-button" style="width: 100%;"><span class="mdc-button__ripple"></span>Вернуться на главную</button></a>
{% endif %}

<br>
<div class="grid">

    <div class="left">
<div class="category">
    <h4 style="font-size: 22pt; text-align: center;">Открытые задания</h4>
    <br>
    {% if flag %}
    <h5> Сейчас заданий нет. Подождите или создайте своё. </h5>
    {% endif %}
    {% for task in opened_tasks %}
        {% if task.author.tenant %}
        <div class="card link" style="width: 500px; horizontal-margin: 20px">
                <a href="{% url 'task' task_id=task.id %}">
                <p class=" card-header card-title" style="font-size: 15pt;">{{ task.description }}</p>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-info">Создатель: {{ task.author.first_name }} {{ task.author.last_name }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ task.cr_date | date:"d.m.Y H-i"}}</h6>
                        <p class="card-text" style="font-size: 12pt">{{ task.task }}</p>
                </div>
                </a>
        </div>
        {% elif task.author.manager %}
        <div class="card link" style="width: 500px; horizontal-margin: 20px; background: #C8FFC8">
                <a href="{% url 'task' task_id=task.id %}">
                <p class=" card-header card-title" style="font-size: 15pt;">{{ task.description }}</p>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-info">Создатель: {{ task.author.manager.company.name }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ task.cr_date | date:"d.m.Y H-i"}}</h6>
                        <p class="card-text" style="font-size: 12pt">{{ task.task }}</p>
                </div>
                </a>
        </div>
        {% endif %}
        <br>
    {% endfor %}

</div>
<div class="category">
<h4 style="font-size: 20pt; text-align: center;">Задания в процессе выполнения</h4>
    <br>
{% for task in taken_tasks %}
        {% if task.author.tenant %}
        <div class="card link" style="width: 500px; horizontal-margin: 20px">
                <a href="{% url 'task' task_id=task.id %}">
                <p class=" card-header card-title" style="font-size: 15pt;">{{ task.description }}</p>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-info">Создатель: {{ task.author.first_name }} {{ task.author.last_name }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ task.cr_date | date:"d.m.Y H-i"}}</h6>
                        <p class="card-text" style="font-size: 12pt">{{ task.task }}</p>
                </div>
                </a>
        </div>
        {% elif task.author.manager %}
        <div class="card link" style="width: 500px; horizontal-margin: 20px; background: #C8FFC8">
                <a href="{% url 'task' task_id=task.id %}">
                <p class=" card-header card-title" style="font-size: 15pt;">{{ task.description }}</p>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-info">Создатель: {{ task.author.manager.company.name }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ task.cr_date | date:"d.m.Y H-i"}}</h6>
                        <p class="card-text" style="font-size: 12pt">{{ task.task }}</p>
                </div>
                </a>
        </div>
        {% endif %}
        <br>
{% endfor %}
    </div>
    </div>

    <div class="right">
<div class="category">
<h4 style="font-size: 20pt; text-align: center;">Закрытые задания</h4>
<br>
{% for task in closed_tasks %}
        {% if task.author.tenant %}
        <div class="card link" style="width: 500px; horizontal-margin: 20px">
                <a href="{% url 'task' task_id=task.id %}">
                <p class=" card-header card-title" style="font-size: 15pt;">{{ task.description }}</p>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-info">Создатель: {{ task.author.first_name }} {{ task.author.last_name }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ task.cr_date | date:"d.m.Y H-i"}}</h6>
                        <p class="card-text" style="font-size: 12pt">{{ task.task }}</p>
                </div>
                </a>
        </div>
        {% elif task.author.manager %}
        <div class="card link" style="width: 500px; horizontal-margin: 20px; background: #C8FFC8">
                <a href="{% url 'task' task_id=task.id %}">
                <p class=" card-header card-title" style="font-size: 15pt;">{{ task.description }}</p>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-info">Создатель: {{ task.author.manager.company.name }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ task.cr_date | date:"d.m.Y H-i"}}</h6>
                        <p class="card-text" style="font-size: 12pt">{{ task.task }}</p>
                </div>
                </a>
        </div>
        {% endif %}
        <br>
{% endfor %}
</div>
        </div>
</div>
{% endblock %}